body {
    height: 100vh;
    margin: 0;
    background-color: #FAF7FD;
}

.border-circle{
    border: 2px solid #BB99DD/*#BB99DD*/;
    border-radius: 50%;
    width: 204px;
    height: 204px;
    position: relative;
    margin: 100px auto;
}

.circle{
    background-color: #FFFFFF;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;

    margin-top: 2px;
    margin-left: 2px;
}

img{
    position: absolute;
    bottom: 0;
    width: 100%
}

.instagram{
    margin: 50px 60px;
    font-family: Poppins;
    font-weight: 400;
    color: #BB99DD;
}

.link{
    color: black;
    text-decoration: none;
}

.link-list li{
    border: 1px solid #BB99DD;
    padding: 10px;
    margin: 25px 39.5%;
    text-align: center;
    color: #BB99DD;
    list-style: none;
}

.link-list{
    width: 100%;
}

.link-icones{
    margin-top: 60px;
    margin-left: 43%;
}

.icones {
    width: 30px;
    margin: 0 10px;
    position: static;

}
